
.htaccess
.npmrc
.vscode
apple-touch-icon.png
browserconfig.xml
favicon-16x16.png
favicon-32x32.png
favicon.ico
MEMO.txt
mstile-150x150.png
prepros.config
safari-pinned-tab.svg
SOURCES

adaptive-images.php